Repository carbon-design-system/carbon-for-ibm-dotcom-nextjs-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint pages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(images): replace breaking : character in dummy image urls (#102)
  pages/learn.js
  pages/services.js
  pages/solutions.js
Due: prettier --write, eslint pages

chore(upgrade): upgrade to latest Carbon for IBM.com
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.23.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.23.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.23.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.23.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.23.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.23.1.tgz
  package.json
  yarn.lock
Due: none

chore(upgrade): upgrade to latest Carbon for IBM.com
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.23.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.23.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.23.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.23.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.23.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.23.2.tgz
  package.json
  yarn.lock
Due: none

chore(codeowners): add `CODEOWNERS` file
  .github/CODEOWNERS
Due: none

chore(codeowners): add `CODEOWNERS` file (#105)
  .github/CODEOWNERS
Due: none

chore(housekeeping): remove callout data
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
  .github/workflows/percy-update-base.yml
  next.config.js
  pages/services.js
Due: prettier --write, eslint pages

chore(housekeeping): remove callout data (#107)
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
  .github/workflows/percy-update-base.yml
  next.config.js
  pages/services.js
Due: prettier --write, eslint pages

chore(housekeeping): remove unneeded import
  styles/services.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(upgrade): upgrade to latest Carbon for IBM.com
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.23.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.23.3.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.23.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.23.3.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.23.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.23.3.tgz
  package.json
  yarn.lock
Due: none

chore(housekeeping): remove unneeded import (#109)
  styles/services.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(pictograms): updated version
  package.json
Due: none

fix(pictograms): added compatible with version in import
  package.json
Due: none

fix(pictograms): updates pictogram react version (#111)
  package.json
Due: none

feat(test): asjkasdjkjksadnjkads
  package.json
  pages/solutions.js
Due: prettier --write, eslint pages

feat(page): create white example page
  pages/index.js
  pages/white-theme-example.js
  public/images/NextJS-white-leadspace.png
  public/images/logo-bendigo.png
  public/images/logo-cisco.png
  public/images/logo-dell.png
  public/images/logo-microsoft.png
  public/images/logo-nbcuniversal.png
  public/images/logo-rabobank.png
  styles/white-theme-example.scss
Due: prettier --write, eslint pages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(page): package
  package.json
Due: none

fix(package): add lit packages
  package.json
Due: none

fix(package): add type module
  package.json
Due: none

fix(package): updated lit
  package.json
Due: none

fix(package): remove type moduel
  package.json
Due: none

test(e2e): disable video capture by default
  package.json
Due: none

test(e2e): disable video capture by default (#113)
  package.json
Due: none

fix(imports): using dynamic import for react wrappers
  pages/g100-theme-example.js
  pages/white-theme-example.js
Due: prettier --write, eslint pages

fix(cta): testing card cta fix
  pages/white-theme-example.js
Due: prettier --write, eslint pages

fix(pages): build and theme fix
  pages/g100-theme-example.js
  pages/white-theme-example.js
  styles/g100-theme-example.scss
  styles/white-theme-example.scss
Due: prettier --write, eslint pages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(themes): removed important from styles
  styles/g100-theme-example.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(pages): update page content
  package.json
  pages/learn.js
  pages/services.js
  pages/solutions.js
  styles/solutions.scss
Due: prettier --write, eslint pages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(pages): update page names
  pages/example-page-a.js
  pages/example-page-b.js
  pages/example-page-c.js
  pages/index.js
Due: prettier --write, eslint pages

chore(deps): revert to 1.24.0 packages
  package.json
Due: none

chore(yarn): update yarn.lock
  .yarn/offline-mirror/@carbon-icon-helpers-10.23.0.tgz
  yarn.lock
Due: none

chore(tests): update e2e test filenames and references
  tests/e2e/__tests__/example-page-a/example-page-a.e2e.js
  tests/e2e/__tests__/example-page-b/example-page-b.e2e.js
  tests/e2e/__tests__/example-page-c/example-page-c.e2e.js
Due: prettier --write, eslint pages

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint pages: any of: **/*.js
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
