Repository carbon-design-system/carbon-for-ibm-dotcom-nextjs-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint pages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(styles): update scss file names
  pages/example-page-a.js
  pages/example-page-b.js
  pages/example-page-c.js
  styles/example-page-a.scss
  styles/example-page-b.scss
  styles/example-page-c.scss
Due: prettier --write, eslint pages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(upgrade): upgrade to latest Carbon for IBM.com
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.24.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.25.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.24.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.25.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.24.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.25.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.24.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.25.0.tgz
  package.json
  yarn.lock
Due: none

chore(images): test relative paths
  package.json
  pages/example-page-a.js
  pages/example-page-b.js
  pages/example-page-c.js
Due: prettier --write, eslint pages

chore(e2e): add e2e test files for new pages
  tests/e2e/__tests__/g100-theme-example/g100-theme-example.e2e.js
  tests/e2e/__tests__/white-theme-example/white-theme-example.e2e.js
Due: prettier --write, eslint pages

chore(e2e): add e2e test files for new pages (#118)
  tests/e2e/__tests__/g100-theme-example/g100-theme-example.e2e.js
  tests/e2e/__tests__/white-theme-example/white-theme-example.e2e.js
Due: prettier --write, eslint pages

chore(scripts): update scripts to bump up web-components package
  package.json
Due: none

chore(package): alphabetize package.json scripts
  package.json
Due: none

chore(github-actions): various github actions updates
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
  .github/workflows/percy-update-base.yml
Due: none

fix(next): properly set css custom properties flag in next.config.js
  next.config.js
  package.json
  pages/_app.js
  pages/g100-theme-example.js
  styles/g100-theme-example.scss
Due: prettier --write, eslint pages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(github-actions): various github actions updates (#121)
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
  .github/workflows/percy-update-base.yml
Due: none

fix(config): switch back to `fast-sass-loader v1.5.0`
  .yarn/offline-mirror/fast-sass-loader-1.5.0.tgz
  .yarn/offline-mirror/fast-sass-loader-2.0.0.tgz
  package.json
  yarn.lock
Due: none

fix(g100): add back theme import for g100 page
  styles/g100-theme-example.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(next): properly set css custom properties flag in next.config.js (#122)
  .yarn/offline-mirror/@types-json-schema-7.0.9.tgz
  .yarn/offline-mirror/klona-2.0.5.tgz
  .yarn/offline-mirror/loader-utils-2.0.2.tgz
  .yarn/offline-mirror/sass-loader-10.2.0.tgz
  .yarn/offline-mirror/schema-utils-3.1.1.tgz
  next.config.js
  package.json
  pages/_app.js
  pages/g100-theme-example.js
  styles/g100-theme-example.scss
  yarn.lock
Due: prettier --write, eslint pages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deps): add renovate.json
  renovate.json
Due: none

chore(renovate): updating config to match other Carbon repos
  renovate.json
Due: none

chore(renovate): reverting config to be closer to default behavior
  renovate.json
Due: none

chore(renovate): reverting config to default rangeStrategy
  renovate.json
Due: none

fix(next): explicitly set node memory for builds
  package.json
Due: none

fix(carbon): change from deprecated style imports
  styles/example-page-b.scss
  styles/example-page-c.scss
  styles/g100-theme-example.scss
  styles/white-theme-example.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(next): bump patch version of Next v10
  package.json
  yarn.lock
Due: none

fix(deps): pin dependencies
  package.json
  packages/eslint-config-ibmdotcom/package.json
  packages/stylelint-config-ibmdotcom/package.json
  yarn.lock
Due: none

chore(deps): update dependency @percy/dom to v1.0.0-beta.70
  .yarn/offline-mirror/@percy-dom-1.0.0-beta.70.tgz
  package.json
  yarn.lock
Due: none

chore(deps): update carbon-design-system/action-ibmcloud-cf action to v1.3.0
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

chore(deps): update dependency http-server to v0.13.0
  .yarn/offline-mirror/ecstatic-3.3.2.tgz
  .yarn/offline-mirror/http-server-0.12.3.tgz
  .yarn/offline-mirror/http-server-0.13.0.tgz
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @actions/core to v1.6.0
  .yarn/offline-mirror/@actions-core-1.5.0.tgz
  .yarn/offline-mirror/@actions-core-1.6.0.tgz
  .yarn/offline-mirror/@actions-http-client-1.0.11.tgz
  .yarn/offline-mirror/tunnel-0.0.6.tgz
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint pages: any of: **/*.js
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
