Repository carbon-design-system/carbon-for-ibm-dotcom-nextjs-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint pages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint pages",
    "git add"
  ],
  "**/*.scss": [
    "prettier --write",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix(environments): adding SASS_PATH to .env config for RTL (#73)
  .github/workflows/deploy-ibm-cloud.yml
Due: none

chore(staging): adding repository dispatch for staging builds
  .github/workflows/deploy-ibm-cloud-staging.yml
Due: none

chore(staging): adding repository dispatch for staging builds (#78)
  .github/workflows/deploy-ibm-cloud-staging.yml
Due: none

chore(actions): add profile host env var
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

chore(actions): add profile host env var (#79)
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

fix(solutions): add link to cta section button
  pages/solutions.js
Due: prettier --write, eslint pages

fix(solutions): add link to cta section button (#80)
  pages/solutions.js
Due: prettier --write, eslint pages

chore(upgrade): upgrade to latest Carbon for IBM.com
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.16.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.16.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.16.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.16.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.16.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.16.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.16.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.16.1.tgz
  package.json
  yarn.lock
Due: none

feat(scroll-animations): added scroll animations to solutions page
  .yarn/offline-mirror/@carbon-grid-10.20.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.21.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.16.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.17.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.16.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.17.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.16.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.17.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.16.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.17.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.13.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.25.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.27.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.17.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.20.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.12.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.14.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.26.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.28.0.tgz
  .yarn/offline-mirror/@carbon-type-10.20.0.tgz
  .yarn/offline-mirror/@carbon-type-10.23.0.tgz
  package.json
  pages/solutions.js
  styles/solutions.scss
Due: prettier --write, eslint pages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(upgrade): upgrade to next Carbon for IBM.com
  .yarn/offline-mirror/carbon-components-10.28.0.tgz
  .yarn/offline-mirror/carbon-components-10.29.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.27.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.29.0.tgz
  .yarn/offline-mirror/es6-promise-4.2.8.tgz
  .yarn/offline-mirror/react-autosuggest-10.1.0.tgz
  .yarn/offline-mirror/react-autosuggest-9.4.3.tgz
  .yarn/offline-mirror/react-autowhatever-10.2.1.tgz
  yarn.lock
Due: none

chore(upgrade): upgrade to latest Carbon for IBM.com
  .yarn/offline-mirror/@carbon-colors-10.21.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.22.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.20.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.21.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.16.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.17.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.16.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.17.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.16.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.17.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.16.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.17.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.13.0.tgz
  .yarn/offline-mirror/@carbon-icon-helpers-10.15.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.25.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.28.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.17.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.21.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.12.0.tgz
  .yarn/offline-mirror/@carbon-motion-10.14.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.26.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.28.0.tgz
  .yarn/offline-mirror/@carbon-type-10.20.0.tgz
  .yarn/offline-mirror/@carbon-type-10.24.0.tgz
  .yarn/offline-mirror/carbon-components-10.28.0.tgz
  .yarn/offline-mirror/carbon-components-10.29.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.27.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.29.0.tgz
  .yarn/offline-mirror/es6-promise-4.2.8.tgz
  .yarn/offline-mirror/react-autosuggest-10.1.0.tgz
  .yarn/offline-mirror/react-autosuggest-9.4.3.tgz
  .yarn/offline-mirror/react-autowhatever-10.2.1.tgz
  package.json
  yarn.lock
Due: none

feat(scroll-animations): adding scroll animations to solutions page (#82)
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.17.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.17.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.17.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.17.0-rc.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.27.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.20.0.tgz
  .yarn/offline-mirror/@carbon-type-10.23.0.tgz
  pages/solutions.js
  styles/solutions.scss
Due: prettier --write, eslint pages, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(upgrade): upgrade to latest Carbon for IBM.com
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.18.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.18.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.18.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.18.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.18.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.18.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.18.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.18.1.tgz
  package.json
  yarn.lock
Due: none

chore(solutions): remove animations
  pages/solutions.js
Due: prettier --write, eslint pages

chore(solutions): remove animations (#86)
  pages/solutions.js
Due: prettier --write, eslint pages

chore(node): adding Node 14 support
  package.json
Due: none

chore(node): updating workflows to switch to Node 14
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

fix(callout-quote): added missing import
  styles/solutions.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(services): remove unused card link
  pages/services.js
Due: prettier --write, eslint pages

fix(services): remove unused card link (#92)
  pages/services.js
Due: prettier --write, eslint pages

fix(callout-quote): added missing import (#91)
  styles/solutions.scss
Due: prettier --write, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(lang): change `en-gb` to `en-uk`
  pages/data/altlang.json
Due: none

fix(lang): change `en-gb` to `en-uk` (#95)
  pages/data/altlang.json
Due: none

chore(github-actions): upgrade ubuntu to 20.04 for github actions
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

chore(github-actions): upgrade ubuntu to 20.04 for github actions (#96)
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

fix(percy): properly trigger percy base update
  .github/workflows/percy-update-base.yml
Due: none

fix(percy): properly trigger percy base update (#100)
  .github/workflows/percy-update-base.yml
Due: none

chore(percy): remove percy upstream update base script
  .github/workflows/percy-update-base.yml
Due: none

chore(percy): remove percy upstream update base script (#101)
  .github/workflows/percy-update-base.yml
Due: none

fix(images): replace breaking : char in dummy image urls
  pages/learn.js
  pages/solutions.js
Due: prettier --write, eslint pages

fix(images): fix characters for content block cards
  pages/services.js
  pages/solutions.js
Due: prettier --write, eslint pages
